In [12]:
# Import Pandas for processing data files, and CSV files.
# pd.read_csv('sample.csv)
import pandas as pd
# Import Numpy Libraries
import numpy as np

In [13]:
# Read datasets
data = pd.read_csv('income_data.csv')
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [14]:
# Assign and structure and datasets.
x = data.YearsExperience.values.reshape(-1,1)
y = data.Salary.values.reshape(-1,1)

In [15]:
# Compute model
# Import from sklearn and train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

# Import from sickit learn
from sklearn.linear_model import LinearRegression

In [16]:
# Linear regression model
model= LinearRegression()

model.fit(x,y)

LinearRegression()

In [17]:
# Predict next salary
next_salary = model.predict([[10.5]])

# Print prediction
print(int(next_salary))

125016

In [18]:
model.score(X_train,y_train)
# Returns float

0.941799590058557